/* reset */
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;

}

body{
    height: 100vh;
    display: grid;
    grid-template-rows: 50px 1fr 50px;
    
    padding: 70px 70px 24px 70px;
    background-image: url("img/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-family: 'Roboto', sans-serif;

}

.logo{
    display: flex;
    gap: 24px;
}


.videos{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 30px -20px;
    margin-right: 20px;
    margin-bottom: 20px;
    
}

.videos > div > iframe{
    width: 100%;
    height: 100%;
}

.videos > div{
    margin-right: 20px;
    margin-bottom: 20px;
}

.description__title{
    font-size: 64px;
}
.description__text{
    font-size: 25px;
    width: 500px;
    background-size: auto;
}

footer{
    display: flex;
    justify-content: center;
    align-items: end;
}
.icones{
    grid-area: icones;
    display: grid;
    place-content: center;
    gap: 32px;

}
main{
    display: grid;
    place-items: center start;
    grid-template-columns: 1fr 100px;
    grid-template-areas:
        "logo icones"
        "logo icones";
    width: 90vw;
    

}
